<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
    <% } %>
    <div>
      <form action="/add-grail" method="POST">
        <input type="text" name="category" placeholder="Category" >
        <input type="text" name="grail" placeholder="Grail">
        <button type="submit" >Add Grail</button>
      </form>
    </div>
  </body>
</html>