<% if (user) { %>
<div id="add-grail-button-container">
  <a href="#" id="add-grail-button" class="cta-open">
      <i class="fas fa-plus-circle fa-4x"></i>
  </a>
</div>

  <section class="toggle-form">
    <div id="form-screen">
    <div class="formwrap px-4">
      <span class="icon-close icon has-text-danger"><i class="fas fa-times fa-2x"></i></span>
      <form action="/add-grail" method="POST" role="form" data-toggle="validator">
        <div>
          <label>Category</label>
          <input class="input" type="text" name="category" placeholder="Category" list="categories" data-error="Please enter a category" required/>
            <datalist id="categories">
              <% categories.forEach(category => { %>
                  <option value="<%= category.category %>" id="<%= category._id %>" >
              <% }) %>
            </datalist>
        </div>
        <br>
        <div>
          <label>Grails</label>
          <input class="input" type="text" name="grail" placeholder="Grail" list="grails" data-error="Please enter a category" required/>
            <datalist id="grails">
              <% grails.forEach(grail => { %>
                <option value="<%= grail.grail %>" id="<%= grail._id %>" >
              <% }) %>
            </datalist>
        </div>
        <br>
        <button type="submit" class="button is-primary">Submit</button>
      </form>    
    </div>
  </div>
  </section>

<% } %>

</body>
</html>
