* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.user-grail-content {
  line-height: 1.25rem;
}

li:first-of-type {
  color: rgb(255, 29, 135);
}

#ol {
  margin-top: 0.5rem;
}

.icons {
  margin-top: 1rem;
}
