* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

#title {
  font-family: 'Sacramento', 'Comfortaa', 'Montserrat', 'Pacifico' , cursive; 
}

nav {
  display: flex;
  width: 100%;
  padding: 1.5rem 1.5rem;
}

nav a {
  padding: 0 1rem 0 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#add-grail-button-container {
  position: fixed;
  bottom: 2%;
  right: 49%;
  background-color: white;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

#add-grail-button {
  position: fixed;
  bottom: 2%;
  right: 49%;
  color: #00d1b1;
}

#add-grail-button:hover {
  color: #df6f6f;
}

#tally-container {
  margin: 40px;
  width: 30%;
}

.grail-tally-label {
  font-size: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

progress {
  -webkit-appearance: none;
   appearance: none;

  width: 500px;
  height: 10px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.main-container {
  margin: 20px auto 0 auto;
  width: 99%;
  display: flex;
  flex-wrap: wrap;
}

#grail-card {
  width: 23%; 
  min-width: 300px;
  margin: 10px;
}

.user-grail-content {
  line-height: 1.25rem;
}

li:first-of-type {
  color: rgb(255, 29, 135);
}

#ul {
  margin: 0.5rem 0 1rem 0.5rem;
  list-style: none;
}

.icons {
  margin-top: 1rem;
}

button{
  cursor: pointer;
}

.icon-close {
  right: 2rem;
  top: 1.8rem;
  transition: right .6s ease-in-out;
  cursor: pointer;
}

label {
  font-weight: 600;
}

.toggle-form {
  right: -9999px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: right .6s ease-in-out;
}
.toggle-form.active {
    right: 0;
}
.toggle-form .formwrap img {
    width: 20px;
}

.formwrap {
  padding: 20px;
  background-color: #f4fffd;
  max-width: 620px;
  height: 100%;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#form-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(153,170,167,0.4) 38%, rgba(0,42,34,1) 100%);
}

option {
  background-color: #fff;
  color: #1f2124;
}
@media (max-width: 575px) {
  .formwrap{
    width: 100%
  }
}

#user-grails-main-container {
  display: flex;
  flex-wrap: wrap;
}

.user-grail-form input{
  
}

.user-grail-buttons {
  display: inline-block;
}

.delete-button {
  float: right;
}